@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: darkgreen;
}

#carta {
  background-color: white;
  width: 200px;
  height: 350px;
  border-radius: 10px;
}

#pintaDown {
  transform: rotate(180deg);
}
#valor {
  font-size: 400%;
  font-weight: bolder;
}
